# Файл .dockerignore
# Виртуальное окружение
venv

# Системные и служебные папки
.git

# Файл базы данных SQLite 
db.sqlite3

# Конфигурации IDE
.idea
.vscode

# Файлы с переменными окружения
.env
.env.*

# Логи и временные файлы
*.log
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
